<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Economy Score</title>
    <meta charset="utf-8">
    
    <!-- JQUERY -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    
    <!-- BOOSTRAP -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  
    <!-- D3 -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
    
    <!-- VEGA -->
    <script src="http://trifacta.github.com/vega/vega.js"></script>

    <!-- Simple Slider JavaScript and CSS -->
    <script src="https://rawgit.com/julbright/jquery-simple-slider/master/js/simple-slider.js"></script>
    <link href="https://rawgit.com/julbright/jquery-simple-slider/master/css/simple-slider.css" rel="stylesheet" type="text/css">



    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
  </head>
  <body>
    
    <!-- Div to hold header and chart -->
    <div class="container">
      
      <!-- Header -->
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active">
        </ul>
        <h3 class="text-muted">My Economy Score</h3>
      </div>
      
      <!-- Chart Div -->
      <div class="charts text-center">
        
        <!-- Only one chart -->
        <div class="row"><div id="bar"></div></div>
      </div>
      <hr>
    </div>
    
    <!-- Div to hold sliders -->
    <div class = 'container'>
      
      <div class="track" style="position: absolute; top: 50%; -webkit-user-select: none; cursor: pointer; width: 100%; margin-top: -3.5px;"></div>
      <div class="dragger" style="position: absolute; top: 50%; -webkit-user-select: none; cursor: pointer; margin-top: -9px; margin-left: -9px; left: 106.020832061768px;"></div>
      <input type="text" data-slider="age" style="display: Hi there;">
      <span class="output">0.353</span>
      
      <div class="track" style="position: absolute; top: 50%; -webkit-user-select: none; cursor: pointer; width: 100%; margin-top: -3.5px;"></div>
      <div class="dragger" style="position: absolute; top: 50%; -webkit-user-select: none; cursor: pointer; margin-top: -9px; margin-left: -9px; left: 106.020832061768px;"></div>
      <input type="text" data-slider="laubs" style="display: Hi there;">
      <span class="output">0.303</span>
      
    </div>

    
    <script type = 'text/javascript'>
      
      var serieses = ['age', 'laubs'];
      var data_dict = {};
      
      function get_data(series){
        return $.getJSON("/data/"+series).then(function(data){
          return data;
        });
      }
      
      
      $.each(serieses, function(index, series){
        get_data(series).then(function(returndata){
          data_dict[series] = returndata;
        });
      });
      
      var weights = {};
      
      function weightThatData(){
        var base_series = data_dict['age'];
        $.each(base_series.data[0].values, function(value){
          value.val = 0;
          console.log(value);
        });
      }
  
      $("[data-slider]")
      .bind("slider:ready slider:changed", function (event, data) {
        $(this).nextAll("span").html(data.value.toFixed(1));
        var series = $(this).data("slider");
        weights[series] = data.value.toFixed(1);
        console.log(weights);
        if (event.type == "slider:changed"){
          // weightthedata()
          console.log('slider changed');
        }
        else if (event.type == 'slider:ready'){
          console.log('slider is ready.');
        }
      });
      
    </script>
    
    
        <!-- Render Charts script -->
    <script type="text/javascript">
      function parse(url, div) {
          vg.parse.spec(url, function(chart) { 
              chart({el:"#" + div}).update();
          });
      }
      parse("/data/age", "bar");
      // parse("/data/line", "line");
      // parse("/data/multiline", "multiline");
      // parse("/data/stocks", "stocks");
      // parse("/data/stacked_stocks", "stacked_stocks");
      // parse("/data/stacked_bar", "stacked_bar");
    </script>
  


  </body>
</html>